@inherits LayoutComponentBase

<PageTitle>EntWord</PageTitle>

<div 
    class="bg-secondary bg-gradient text-black bg-opacity-25" 
    style="width: 100%; height: 100vh;"
    tabindex="0"
>
    @Body
</div>
